*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.intestazione{
    display: inline-block;
    margin-right: 12px;
    vertical-align: middle; 
}
.logo{
    margin: 20px;
    padding: 10px;
    margin-right: 12px;
    vertical-align: middle; 
}
body{
background-color:rgb(73, 234, 234);
}
.white{
    background-color: #ffffff;
}
main{
    width: 70%;
    margin: 40px auto;
    border-radius: 10px;
}
.bottoni{
    padding: 20px;
    border-bottom: 2px solid rgb(69, 234, 234);

}
.azzurro{
    background-color: rgb(114, 179, 253);
    border-color:rgb(114, 179, 253) ; 
    color: white;
    padding: 10px;
    border-radius: 4px;
    
}
.contenuto{
    margin: 20px;
    border-bottom: 20px;

}
.bianco{
    background-color: white;
    color: rgb(100, 99, 99);
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(100, 99, 99)
}
.margin{
    margin: 20px;
}

/* Seleziona TUTTI gli <ul> all'interno di TUTTE le classi "lista" */
.lista ul {
    list-style: none;
}
.spunta{
color: rgb(57, 200, 57);
border: 1px rgb(57, 200, 57) solid;
border-radius: 50%;
width: 24px;
text-align: center;
}
.croce{
color: red;
border: 1px red solid;
border-radius: 50%;
width: 24px;
text-align: center;
}
p{
    display: inline-block;
}
.editorial{
    background-color: rgb(114, 179, 253);
    border-color:rgb(114, 179, 253) ; 
    color: white;
    padding: 4px;
    font-size: 10px;
    border-radius: 8px;
}
