*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.intestazione{
    display: inline-block;
}
.logo{
    margin: 20px;
    padding: 10px;
}

.bottoni{
    margin: 20px;
    padding: 20px;
    border: 50px;

}
.azzurro{
    background-color: rgb(114, 179, 253);
    border: #fff dotted 1px;  
    color: white;
}
.margin{
    margin: 20px;
}

/* Seleziona TUTTI gli <ul> all'interno di TUTTE le classi "lista" */
.lista ul {
    list-style: none;
}
.spunta{
color: rgb(57, 200, 57);
}
.croce{
color: red;
}
p{
    display: inline-block;
}